header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
} 

ul, li{ 
  list-style:none; 
  margin:0; 
  padding:0;
}
.mainnav ul{
  background-color:black;
}
.mainnav a{
  color:white;
  display:block; 
  padding:5px; 
  text-decoration:none;
}
.mainnav a:hover{
  background -color:#333333; 
  text-decoration:none; 
  color:white;
}
.mainnav > ul{ 
  display:table; 
  width:100%;
}
.mainnav > ul > li{ 
  display:table-cell; 
  /*border-right:1px solid #d4d4d4;*/
}
.mainnav > ul > li:last-child{
  border-right:none;
}
.mainnav > ul > li > a{ 
  text-align:center;
}


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
} 

.mcolumn {
  display: inline-block;
  width: 45%;
}

.lcolumn {   
    float: left;
    width: 45%;
}

.rcolumn {
   float: right;
   width: 10%;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
}

<style>
/* leadership page */

#leadership 
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    td, th
    {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) 
    {
        background-color: #dddddd;
    }


/* contact us page */
</style>

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}